*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

label {
  display: inline-block;
}

button {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

/*reset up*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-bookmark"]::before {
  content: "\e900";
}

[class*="--icon-done"]::before {
  content: "\e901";
}

[class*="--icon-done-medium"]::before {
  content: "\e902";
}

[class*="--icon-facebook"]::before {
  content: "\e904";
}

[class*="--icon-instagram"]::before {
  content: "\e905";
}

[class*="--icon-save"]::before {
  content: "\e906";
}

[class*="--icon-star"]::before {
  content: "\e907";
}

[class*="--icon-twiter"]::before {
  content: "\e908";
}

[class*="--icon-logo"]::before {
  content: "\e909";
}

[class*="--icon-shevron"]::before {
  content: "\e90b";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f7f5;
  z-index: 20;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e5e5e0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 81.875em) {
  .header__container {
    gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .header__container {
    gap: clamp( 13px , 7.5050505051px  +  1.7171717172vw , 30px );
  }
}
@media (max-width: 20em) {
  .header__container {
    gap: 13px;
  }
}
.header__container {
  min-height: 5rem;
  height: 100%;
}
.logo {
  z-index: 2;
}
.logo__link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

@media (width <= 46.25em) {
  .nav-header__list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    padding: 6.25rem 1.875rem 1.875rem 0.9375rem;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 2.5rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .nav-header__list::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #f8f7f5;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  [data-menu-open] .nav-header__list {
    left: 0;
  }
  [data-menu-open] .nav-header__list::before {
    left: 0;
  }
}
@media (width >= 46.25em) {
  .nav-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.3125rem;
  }
}
@media (width >= 46.25em) and (min-width: 81.875em) {
  .nav-header__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (width >= 46.25em) and (min-width: 20em) and (max-width: 81.875em) {
  .nav-header__list {
    -webkit-column-gap: clamp( 10px , 0.303030303px  +  3.0303030303vw , 40px );
       -moz-column-gap: clamp( 10px , 0.303030303px  +  3.0303030303vw , 40px );
            column-gap: clamp( 10px , 0.303030303px  +  3.0303030303vw , 40px );
  }
}
@media (width >= 46.25em) and (max-width: 20em) {
  .nav-header__list {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

.list-nav__link {
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.list-nav__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 0.125rem;
  background-color: #a38b6d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
html:not([data-fls-touch]) .list-nav__link:hover {
  color: #856e52;
}
html:not([data-fls-touch]) .list-nav__link:hover::after {
  width: 100%;
}
@media (width <= 46.25em) {
  .list-nav__link {
    font-size: 1.5625rem;
  }
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 81.875em) {
  .header-btn {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .header-btn {
    gap: clamp( 10px , 6.7676767677px  +  1.0101010101vw , 20px );
  }
}
@media (max-width: 20em) {
  .header-btn {
    gap: 10px;
  }
}
@media (width <= 28.125em) and (min-width: 81.875em) {
  .header-btn {
    gap: 20px;
  }
}
@media (width <= 28.125em) and (min-width: 20em) and (max-width: 81.875em) {
  .header-btn {
    gap: clamp( 15px , 13.3838383838px  +  0.5050505051vw , 20px );
  }
}
@media (width <= 28.125em) and (max-width: 20em) {
  .header-btn {
    gap: 15px;
  }
}
.header-btn__link {
  z-index: 2;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 1.3125rem;
  border: 0.0625rem solid #151413;
  border-radius: 624.9375rem;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (width <= 28.125em) {
  .header-btn__link {
    display: none;
  }
}
html:not([data-fls-touch]) .header-btn__link:hover:hover {
  background-color: #151413;
  color: #fff;
}
.header-btn__mobile {
  display: none;
}
@media (width <= 46.25em) {
  .header-btn__mobile {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    position: relative;
  }
  .header-btn__mobile::after, .header-btn__mobile::before,
  .header-btn__mobile span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #151413;
  }
  .header-btn__mobile::before {
    top: 0;
  }
  .header-btn__mobile span {
    top: 50%;
    translate: 0 -50%;
  }
  .header-btn__mobile::after {
    bottom: 0;
  }
}

.title {
  margin: 0 auto;
  text-align: center;
  color: #151413;
}
@media (min-width: 81.875em) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .title {
    font-size: clamp( 38px , 34.7676767677px  +  1.0101010101vw , 48px );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 38px;
  }
}
.title {
  font-weight: 400;
  line-height: 1;
  font-family: "Cormorant Garamond", serif;
}

.subtitle {
  color: #a38b6d;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.35;
}

html,
body {
  overflow-y: auto !important;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}

@media (18.75em <= width <= 37.5rem) and (min-width: 81.875em) {
  main {
    margin-top: 50px;
  }
}
@media (18.75em <= width <= 37.5rem) and (min-width: 20em) and (max-width: 81.875em) {
  main {
    margin-top: clamp( 40px , 36.7676767677px  +  1.0101010101vw , 50px );
  }
}
@media (18.75em <= width <= 37.5rem) and (max-width: 20em) {
  main {
    margin-top: 40px;
  }
}
@media (37.5em <= width <= 62rem) and (min-width: 81.875em) {
  main {
    margin-top: 40px;
  }
}
@media (37.5em <= width <= 62rem) and (min-width: 20em) and (max-width: 81.875em) {
  main {
    margin-top: clamp( 0.000001px , -12.9292916061px  +  4.0404039394vw , 40px );
  }
}
@media (37.5em <= width <= 62rem) and (max-width: 20em) {
  main {
    margin-top: 0.000001px;
  }
}
@media (width > 62em) and (min-width: 81.875em) {
  main {
    margin-top: 80px;
  }
}
@media (width > 62em) and (min-width: 20em) and (max-width: 81.875em) {
  main {
    margin-top: clamp( 40px , 27.0707070707px  +  4.0404040404vw , 80px );
  }
}
@media (width > 62em) and (max-width: 20em) {
  main {
    margin-top: 40px;
  }
}

.pages__avtor {
  scroll-margin-top: 9.375rem;
}
.pages__gallery {
  scroll-margin-top: 3.125rem;
}
.pages__cost {
  scroll-margin-top: 6.25rem;
}

@media (min-width: 81.875em) {
  .hero__container {
    padding-top: 80px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .hero__container {
    padding-top: clamp( 30px , 13.8383838384px  +  5.0505050505vw , 80px );
  }
}
@media (max-width: 20em) {
  .hero__container {
    padding-top: 30px;
  }
}
@media (min-width: 81.875em) {
  .hero__container {
    padding-bottom: 129px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .hero__container {
    padding-bottom: clamp( 30px , -2px  +  10vw , 129px );
  }
}
@media (max-width: 20em) {
  .hero__container {
    padding-bottom: 30px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 81.875em) {
  .hero__container {
    gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .hero__container {
    gap: clamp( 15px , 9.5050505051px  +  1.7171717172vw , 32px );
  }
}
@media (max-width: 20em) {
  .hero__container {
    gap: 15px;
  }
}
@media (width <= 61.9375em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (width <= 62em) {
  .hero__body {
    text-align: center;
    max-width: none;
    margin: 0 auto;
  }
}
@media (width >= 62em) {
  .hero__body {
    max-width: 43.5rem;
  }
}
@media (min-width: 81.875em) {
  .body-hero {
    padding-top: 65px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .body-hero {
    padding-top: clamp( 30px , 18.6868686869px  +  3.5353535354vw , 65px );
  }
}
@media (max-width: 20em) {
  .body-hero {
    padding-top: 30px;
  }
}
@media (min-width: 81.875em) {
  .body-hero__title {
    font-size: 72px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .body-hero__title {
    font-size: clamp( 36px , 24.3636363636px  +  3.6363636364vw , 72px );
  }
}
@media (max-width: 20em) {
  .body-hero__title {
    font-size: 36px;
  }
}
.body-hero__title {
  font-weight: 700;
  line-height: 1;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}
.body-hero__title span {
  font-style: italic;
  font-weight: 300;
  color: #4d4b45;
}
.body-hero__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}
@media (width >= 62em) {
  .body-hero__text {
    max-width: 38.75rem;
  }
}
@media (min-width: 81.875em) {
  .body-hero__text p {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .body-hero__text p {
    font-size: clamp( 16px , 15.3535353535px  +  0.202020202vw , 18px );
  }
}
@media (max-width: 20em) {
  .body-hero__text p {
    font-size: 16px;
  }
}
.body-hero__text p {
  font-weight: 400;
  line-height: 1.55;
  color: #4d4b45;
}
.body-hero__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.body-hero__text:not(:last-child) {
  margin-bottom: 2.25rem;
}
.actions-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (width <= 31.25em) {
  .actions-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (width <= 62em) {
  .actions-hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.actions-hero {
  gap: 1rem;
}
.actions-hero:not(:last-child) {
  margin-bottom: 2rem;
}
.actions-hero__link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  padding: 1.0625rem 2rem;
  border: 0.0625rem solid #9b988f;
  border-radius: 624.9375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
html:not([data-fls-touch]) .actions-hero__link:hover {
  background-color: #e8e6e0;
}
html:not([data-fls-touch]) .actions-hero__link:hover::before {
  translate: 0.5rem 0.125rem;
}
@media (width <= 62em) {
  .actions-hero__link {
    text-align: center;
  }
}
.actions-hero__link--icon-shevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.actions-hero__link--icon-shevron::before {
  rotate: 90deg;
  translate: 0.5rem 0.0625rem;
}
.actions-hero__link--active {
  background-color: #151413;
  color: #f8f7f5;
}
html:not([data-fls-touch]) .actions-hero__link--active:hover {
  background-color: #a38b6d;
}

.hero-info {
  padding-top: 2.0625rem;
  border-top: 0.0625rem solid #e5e5e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (width <= 62em) {
  .hero-info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 81.875em) {
  .hero-info {
    gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .hero-info {
    gap: clamp( 15px , 10.1515151515px  +  1.5151515152vw , 30px );
  }
}
@media (max-width: 20em) {
  .hero-info {
    gap: 15px;
  }
}
.hero-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.25rem;
}
.hero-info__value {
  font-size: 1.875rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1;
}
.hero-info__label {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
  color: #4d4b45;
}

.media-hero {
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (width < 62em) {
  .media-hero:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
.media-hero__wraper {
  position: relative;
}
@media (width > 62em) {
  .media-hero__wraper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #eeece6;
    border-radius: 1rem;
    -webkit-transform: rotate(-2deg) scale(1.02);
        -ms-transform: rotate(-2deg) scale(1.02);
            transform: rotate(-2deg) scale(1.02);
    translate: 1.25rem -0.9375rem;
    border: 0.0625rem solid #e2e0d8;
    -webkit-box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.06);
            box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.06);
    z-index: 1;
  }
}
.media-hero__picture {
  padding: 1.3125rem 1.5625rem 1.5625rem 1.5625rem;
  background-color: #ffffff;
  max-width: 31.25rem;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1rem;
}
@media (width > 62em) {
  .media-hero__picture {
    position: relative;
    z-index: 2;
    rotate: 1deg;
  }
}
html:not([data-fls-touch]) .media-hero__picture:hover {
  rotate: -1deg;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.media-hero__img {
  position: relative;
  max-width: 27.375rem;
  width: 100%;
  aspect-ratio: 438/584;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.media-hero__img:not(:last-child) {
  margin-bottom: 0.5rem;
}
.info-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d4b45;
  max-width: 27.375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (width <= 62em) {
  .info-media {
    text-align: center;
    margin: 0.625rem auto;
  }
}
.info-media__paper {
  font-style: italic;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
}
.info-media__pencils {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
}

.comparison {
  background-color: rgba(238, 236, 230, 0.5019607843);
}
.comparison__container {
  text-align: center;
}
.comparison__subtitle:not(:last-child) {
  margin-bottom: 0.375rem;
}
.comparison__title {
  max-width: 36.3125rem;
}
.comparison__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}
.comparison__text p {
  text-align: center;
}
@media (min-width: 81.875em) {
  .comparison__text p {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .comparison__text p {
    font-size: clamp( 16px , 15.3535353535px  +  0.202020202vw , 18px );
  }
}
@media (max-width: 20em) {
  .comparison__text p {
    font-size: 16px;
  }
}
.comparison__text p {
  font-weight: 400;
  line-height: 1.55;
  color: #4d4b45;
  max-width: 51.25rem;
  margin: 0 auto;
}
.comparison__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.comparison__text:not(:last-child) {
  margin-bottom: 3.125rem;
}
.comparison__slider-wrapper {
  max-width: 48rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.25rem;
  border: 0.0625rem solid #e5e5e0;
}
.comparison__slider {
  position: relative;
  border-radius: 1rem;
}
.comparison__slider img {
  aspect-ratio: 760/475;
  -o-object-fit: cover;
     object-fit: cover;
}

.icv__label {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
  padding: 0.375rem 0.75rem;
  border-radius: 624.9375rem;
}
@media (width <= 35em) {
  .icv__label {
    display: none;
  }
}

.icv__label-after {
  background-color: rgba(21, 20, 19, 0.8);
  color: #f8f7f5;
}

.icv__label-before {
  background-color: rgba(255, 255, 255, 0.9019607843);
  color: #151413;
}

#image-compare,
#image-compare * {
  -ms-touch-action: none;
      touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.image-compare__image,
.image-compare__handle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform, clip-path, width;
}

.image-compare {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.gallery__container {
  text-align: center;
}
.gallery__subtitle:not(:last-child) {
  margin-bottom: 0.6875rem;
}
.gallery__title:not(:last-child) {
  margin-bottom: 3rem;
}
.swiper-gallery {
  width: 100%;
  max-width: 56.25rem;
  aspect-ratio: 900/700;
  margin: 0 auto 0.625rem;
}
.swiper-gallery__slide {
  width: 100%;
  height: 100%;
}
.swiper-gallery__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.swiper-nav {
  max-width: 56.25rem;
  margin: 0 auto;
}
.swiper-nav__slide {
  aspect-ratio: 1;
  max-width: 12.5rem;
  width: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.swiper-nav__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.swiper-nav .swiper-slide-thumb-active {
  outline: 4px solid #151413;
  padding: 7px;
  outline-offset: -4px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #151413;
}

@media (min-width: 81.875em) {
  .avtor {
    padding-top: 31px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .avtor {
    padding-top: clamp( 15px , 9.8282828283px  +  1.6161616162vw , 31px );
  }
}
@media (max-width: 20em) {
  .avtor {
    padding-top: 15px;
  }
}
@media (min-width: 81.875em) {
  .avtor {
    padding-bottom: 81px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .avtor {
    padding-bottom: clamp( 25px , 6.898989899px  +  5.6565656566vw , 81px );
  }
}
@media (max-width: 20em) {
  .avtor {
    padding-bottom: 25px;
  }
}
.avtor__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 81.875em) {
  .avtor__container {
    gap: 48px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .avtor__container {
    gap: clamp( 10px , -2.2828282828px  +  3.8383838384vw , 48px );
  }
}
@media (max-width: 20em) {
  .avtor__container {
    gap: 10px;
  }
}
.avtor__container {
  text-align: left;
}
@media (width <= 61.9375em) {
  .avtor__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.avtor__picture {
  max-width: 29.875rem;
  width: 100%;
}
@media (width <= 61.9375em) {
  .avtor__picture {
    max-width: 56.25rem;
    width: 100%;
  }
}
@media (min-width: 81.875em) {
  .avtor__info {
    padding-top: 44px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .avtor__info {
    padding-top: clamp( 0.000001px , -14.222220899px  +  4.4444443434vw , 44px );
  }
}
@media (max-width: 20em) {
  .avtor__info {
    padding-top: 0.000001px;
  }
}
.avtor__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.picture-avtor {
  position: relative;
}
.picture-avtor__img {
  position: relative;
  max-width: 29.875rem;
  width: 100%;
  aspect-ratio: 478/598;
}
@media (width <= 61.9375em) {
  .picture-avtor__img {
    max-width: 56.25rem;
    width: 100%;
    aspect-ratio: 900/598;
  }
}
.picture-avtor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
@media (width <= 61.9375em) {
  .picture-avtor img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 900/598;
  }
  .picture-avtor img:not(:last-child) {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}
@media (width <= 48em) {
  .picture-avtor__decoration {
    display: none;
  }
}
.picture-avtor__decoration {
  position: absolute;
  bottom: -1.25rem;
  right: -1.25rem;
  z-index: 21;
  background-color: #ffffff;
  border: 1px solid #e2e0d8;
  padding: 1.5625rem 1.25rem 1.5625rem 1.5625rem;
  border-radius: 1rem;
}
.picture-avtor__decoration p {
  color: #151413;
}
@media (min-width: 81.875em) {
  .picture-avtor__decoration p {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .picture-avtor__decoration p {
    font-size: clamp( 20px , 18.7070707071px  +  0.404040404vw , 24px );
  }
}
@media (max-width: 20em) {
  .picture-avtor__decoration p {
    font-size: 20px;
  }
}
.picture-avtor__decoration p {
  font-weight: 600;
  line-height: 1.3;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}
.picture-avtor__decoration p:not(:last-child) {
  margin-bottom: 0.25rem;
}
.picture-avtor__decoration cite {
  color: #4d4b45;
  text-transform: uppercase;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
}

@media (min-width: 75em) {
  .info-avtor > :not(:last-child) {
    margin-bottom: 27px;
  }
}
@media (min-width: 56.25em) and (max-width: 75em) {
  .info-avtor > :not(:last-child) {
    margin-bottom: clamp( 10px , -41px  +  5.6666666667vw , 27px );
  }
}
@media (max-width: 56.25em) {
  .info-avtor > :not(:last-child) {
    margin-bottom: 10px;
  }
}
.info-avtor__title {
  text-align: left;
}
@media (min-width: 81.875em) {
  .info-avtor__text :not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .info-avtor__text :not(:last-child) {
    margin-bottom: clamp( 10px , 3.5353535354px  +  2.0202020202vw , 30px );
  }
}
@media (max-width: 20em) {
  .info-avtor__text :not(:last-child) {
    margin-bottom: 10px;
  }
}
.info-avtor__text {
  color: #262522;
}
@media (min-width: 81.875em) {
  .info-avtor__text :first-child {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .info-avtor__text :first-child {
    font-size: clamp( 16px , 15.3535353535px  +  0.202020202vw , 18px );
  }
}
@media (max-width: 20em) {
  .info-avtor__text :first-child {
    font-size: 16px;
  }
}
.info-avtor__text :first-child {
  font-weight: 400;
  line-height: 1.55;
}
.info-avtor__text :first-child span {
  font-weight: 600;
  border-bottom: 0.0625rem solid #262522;
  padding-bottom: 0.0625rem;
}
.info-avtor__text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-weight: 400;
  line-height: 1.625;
}
.features-avtor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 81.875em) {
  .features-avtor {
    gap: 16px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor {
    gap: clamp( 8px , 5.4141414141px  +  0.8080808081vw , 16px );
  }
}
@media (max-width: 20em) {
  .features-avtor {
    gap: 8px;
  }
}
@media (width <= 48em) {
  .features-avtor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features-avtor__item {
  border-radius: 0.75rem;
  background-color: #ffffff;
  border: 0.0625rem solid #e2e0d8;
}
@media (min-width: 81.875em) {
  .features-avtor__item {
    padding-inline: 17px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor__item {
    padding-inline: clamp( 10px , 7.7373737374px  +  0.7070707071vw , 17px );
  }
}
@media (max-width: 20em) {
  .features-avtor__item {
    padding-inline: 10px;
  }
}
@media (min-width: 81.875em) {
  .features-avtor__item {
    padding-top: 22px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor__item {
    padding-top: clamp( 10px , 6.1212121212px  +  1.2121212121vw , 22px );
  }
}
@media (max-width: 20em) {
  .features-avtor__item {
    padding-top: 10px;
  }
}
@media (min-width: 81.875em) {
  .features-avtor__item {
    padding-bottom: 18px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor__item {
    padding-bottom: clamp( 5px , 0.797979798px  +  1.3131313131vw , 18px );
  }
}
@media (max-width: 20em) {
  .features-avtor__item {
    padding-bottom: 5px;
  }
}
.features-avtor img:not(:last-child) {
  margin-bottom: 0.8125rem;
}
@media (min-width: 81.875em) {
  .features-avtor img:not(:last-child) {
    margin-bottom: 13px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor img:not(:last-child) {
    margin-bottom: clamp( 8px , 6.3838383838px  +  0.5050505051vw , 13px );
  }
}
@media (max-width: 20em) {
  .features-avtor img:not(:last-child) {
    margin-bottom: 8px;
  }
}
.features-avtor img {
  width: 1.125rem;
  aspect-ratio: 1;
}
@media (min-width: 81.875em) {
  .features-avtor__title {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .features-avtor__title {
    font-size: clamp( 16px , 15.3535353535px  +  0.202020202vw , 18px );
  }
}
@media (max-width: 20em) {
  .features-avtor__title {
    font-size: 16px;
  }
}
.features-avtor__title {
  font-weight: 400;
  line-height: 1.55;
  color: #151413;
  font-weight: 600;
}
.features-avtor__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.features-avtor__text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-weight: 400;
}

.advantages {
  background-color: rgba(238, 236, 230, 0.5019607843);
}
.advantages__container {
  text-align: center;
}
.advantages__subtitle :not(:last-child) {
  margin-bottom: 0.6875rem;
}
@media (min-width: 81.875em) {
  .advantages__title:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .advantages__title:not(:last-child) {
    margin-bottom: clamp( 30px , 19.0101010101px  +  3.4343434343vw , 64px );
  }
}
@media (max-width: 20em) {
  .advantages__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 24rem), 1fr));
}
@media (min-width: 81.875em) {
  .advantages-items {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .advantages-items {
    -webkit-column-gap: clamp( 10px , 2.8888888889px  +  2.2222222222vw , 32px );
       -moz-column-gap: clamp( 10px , 2.8888888889px  +  2.2222222222vw , 32px );
            column-gap: clamp( 10px , 2.8888888889px  +  2.2222222222vw , 32px );
  }
}
@media (max-width: 20em) {
  .advantages-items {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.advantages-items {
  row-gap: 1.25rem;
}
.advantages-items__item {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 0.0625rem solid #e2e0d8;
}
@media (min-width: 81.875em) {
  .advantages-items__item {
    padding: 33px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .advantages-items__item {
    padding: clamp( 20px , 15.797979798px  +  1.3131313131vw , 33px );
  }
}
@media (max-width: 20em) {
  .advantages-items__item {
    padding: 20px;
  }
}
.advantages-items__item {
  text-align: left;
}
.advantages-items__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 81.875em) {
  .advantages-items__img:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .advantages-items__img:not(:last-child) {
    margin-bottom: clamp( 15px , 12.0909090909px  +  0.9090909091vw , 24px );
  }
}
@media (max-width: 20em) {
  .advantages-items__img:not(:last-child) {
    margin-bottom: 15px;
  }
}
.advantages-items__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f8f7f5;
  border: 0.0625rem solid #e5e7eb;
}
.advantages-items__img img {
  width: 1.125rem;
  aspect-ratio: 1;
}
.advantages-items__title:not(:last-child) {
  margin-bottom: 0.875rem;
}
@media (min-width: 81.875em) {
  .advantages-items__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .advantages-items__title {
    font-size: clamp( 20px , 18.7070707071px  +  0.404040404vw , 24px );
  }
}
@media (max-width: 20em) {
  .advantages-items__title {
    font-size: 20px;
  }
}
.advantages-items__title {
  font-weight: 600;
  line-height: 1.3;
  font-family: "Cormorant Garamond", serif;
  color: #151413;
}
.advantages-items__text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4b45;
}

.important__container {
  text-align: center;
}
.important__subtitle:not(:last-child) {
  margin-bottom: 0.6875rem;
}
.important__title:not(:last-child) {
  margin-bottom: 1.125rem;
}
.important__text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4b45;
}
@media (min-width: 81.875em) {
  .important__text:not(:last-child) {
    margin-bottom: 66px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .important__text:not(:last-child) {
    margin-bottom: clamp( 20px , 5.1313131313px  +  4.6464646465vw , 66px );
  }
}
@media (max-width: 20em) {
  .important__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.example-important {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 81.875em) {
  .example-important {
    gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .example-important {
    gap: clamp( 15px , 9.5050505051px  +  1.7171717172vw , 32px );
  }
}
@media (max-width: 20em) {
  .example-important {
    gap: 15px;
  }
}
.example-important {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}
@media (min-width: 81.875em) {
  .example-important:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .example-important:not(:last-child) {
    margin-bottom: clamp( 15px , 6.9191919192px  +  2.5252525253vw , 40px );
  }
}
@media (max-width: 20em) {
  .example-important:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (width <= 48em) {
  .example-important {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.example-important__item {
  border-radius: 1rem;
  padding: 1.6875rem;
  background-color: #ffffff;
}

.item-example > :not(:last-child) {
  margin-bottom: 1rem;
}
.item-example--good {
  border: 0.125rem solid #bbf7d0;
}
.item-example--bad {
  border: 0.125rem solid #fecaca;
}
.item-example__title {
  border-radius: 624.9375rem;
  padding: 0.25rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.item-example__title--good {
  background-color: #bbf7d0;
  color: #166534;
}
.item-example__title--bad {
  background-color: #fecaca;
  color: #991b1b;
}
.item-example__img {
  max-width: 23.75rem;
  width: 100%;
  aspect-ratio: 380/285;
}
.item-example__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-example__list :not(:last-child) {
  margin-bottom: 0.5rem;
}
.item-example__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  gap: 0.4375rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.item-example__unit--icon-done::before {
  color: #166534;
  width: 0.875rem;
  aspect-ratio: 1;
  padding-top: 0.3125rem;
}
.item-example__unit--icon-bad::before {
  color: #991b1b;
  width: 0.875rem;
  aspect-ratio: 1;
  padding-top: 0.3125rem;
}
.item-example__note {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4b45;
}

.stages {
  background-color: rgba(238, 236, 230, 0.5019607843);
}
.stages__container {
  text-align: center;
}
.stages__subtitle:not(:last-child) {
  margin-bottom: 0.6875rem;
}
@media (min-width: 81.875em) {
  .stages__title:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .stages__title:not(:last-child) {
    margin-bottom: clamp( 30px , 19.0101010101px  +  3.4343434343vw , 64px );
  }
}
@media (max-width: 20em) {
  .stages__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.items-stages {
  display: grid;
}
@media (min-width: 81.875em) {
  .items-stages {
    gap: 24px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .items-stages {
    gap: clamp( 7px , 1.5050505051px  +  1.7171717172vw , 24px );
  }
}
@media (max-width: 20em) {
  .items-stages {
    gap: 7px;
  }
}
.items-stages {
  grid-template-columns: repeat(auto-fit, minmax(min(10.625rem, 14rem), 1fr));
  text-align: left;
}
.items-stages__item {
  padding: 1.5625rem;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 0.0625rem solid #e2e0d8;
}
.items-stages__item :not(:last-child) {
  margin-bottom: 0.4375rem;
}
.items-stages__num {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.111;
  font-family: "Cormorant Garamond", serif;
  color: #a38b6d;
}
.items-stages__title {
  font-size: 1.375rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1.55;
  color: #151413;
}
.items-stages__text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4b45;
}

.cost {
  scroll-margin-top: 80px;
}
.cost__container {
  text-align: center;
}
.cost__subtitle:not(:last-child) {
  margin-bottom: 0.6875rem;
}
.cost__title:not(:last-child) {
  margin-bottom: 1.125rem;
}
.cost__text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.cost__text:not(:last-child) {
  margin-bottom: 3.625rem;
}
.cost__cards {
  display: grid;
}
@media (min-width: 81.875em) {
  .cost__cards {
    gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .cost__cards {
    gap: clamp( 10px , 2.8888888889px  +  2.2222222222vw , 32px );
  }
}
@media (max-width: 20em) {
  .cost__cards {
    gap: 10px;
  }
}
.cost__cards {
  grid-template-columns: repeat(auto-fit, minmax(min(21.875rem, 24rem), 1fr));
  text-align: left;
}
.cost__card {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 0.0625rem solid #e2e0d8;
}
@media (min-width: 81.875em) {
  .cost__card {
    padding-bottom: 33px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .cost__card {
    padding-bottom: clamp( 20px , 15.797979798px  +  1.3131313131vw , 33px );
  }
}
@media (max-width: 20em) {
  .cost__card {
    padding-bottom: 20px;
  }
}
@media (min-width: 81.875em) {
  .cost__card {
    padding-top: 39px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .cost__card {
    padding-top: clamp( 26px , 21.797979798px  +  1.3131313131vw , 39px );
  }
}
@media (max-width: 20em) {
  .cost__card {
    padding-top: 26px;
  }
}
@media (min-width: 81.875em) {
  .cost__card {
    padding-inline: 33px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .cost__card {
    padding-inline: clamp( 20px , 15.797979798px  +  1.3131313131vw , 33px );
  }
}
@media (max-width: 20em) {
  .cost__card {
    padding-inline: 20px;
  }
}

.item-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-card--the-best {
  border: 0.125rem solid #151413;
}
.item-card__the-best {
  position: absolute;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.35;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  padding: 0.3125rem 1rem;
  background-color: #151413;
  border-radius: 624.9375rem;
  color: #f8f7f5;
  text-transform: uppercase;
}
.item-card :not(:last-child) {
  margin-bottom: 1.5rem;
}
.item-card__subtitle {
  color: #4d4b45;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.35;
}
.item-card__subtitle:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.item-card__subtitle--the-best {
  color: #a38b6d;
}
.item-card__cost {
  border-top: 0.0625rem solid #e2e0d8;
  padding: 0.625rem 0;
  border-bottom: 0.0625rem solid #e2e0d8;
}
.item-card__title {
  font-size: 1.875rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1;
}
.item-card__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.item-card__price {
  color: #151413;
  font-size: 2.25rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  line-height: 1.11;
}
.item-card__price:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-card__person {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.item-card__person::before {
  content: "/";
  padding: 0 0.25rem;
}
.item-card__list {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #262522;
}
.item-card__list :not(:last-child) {
  margin-bottom: 0.75rem;
}
.item-card__units:not(:last-child) {
  margin-bottom: 3.25rem;
}
.item-card__btn {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  border: 0.0625rem solid #151413;
  border-radius: 624.9375rem;
  padding: 0.9375rem 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: auto;
}
html:not([data-fls-touch]) .item-card__btn:hover {
  background-color: #856e52;
  color: #fff;
}
.item-card__btn--the-best {
  background-color: #151413;
  color: #f8f7f5;
}

.list-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.footer {
  background-color: #151413;
  color: #f8f7f5;
}
@media (min-width: 81.875em) {
  .footer {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .footer {
    padding-block: clamp( 20px , 10.303030303px  +  3.0303030303vw , 50px );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-block: 20px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
}
.footer__info {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1;
  text-align: right;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f7f5;
  color: #262522;
}

/* @import url('font.css'); */
.pages > [class*="--border-top"] {
  border-top: 1px solid #e5e5e0;
}
@media (min-width: 81.875em) {
  .pages > [class*="--padding"] {
    padding-block: 80px;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  .pages > [class*="--padding"] {
    padding-block: clamp( 30px , 13.8383838384px  +  5.0505050505vw , 80px );
  }
}
@media (max-width: 20em) {
  .pages > [class*="--padding"] {
    padding-block: 30px;
  }
}