// $primary-color: #fbfbf9;
// $bg-card: #ffffff;
// $primary-text: #2a2a2a;
// $title-color: #121212;
// $second-color: #666666;
// $border-color: #e5e5e0;
// $hover-color: #a38b6d;
// $hover-dark: #856e52;
// $hover-light: #fff;
// $success-color: #2e7d32;
// $error-color: #c62828;

// $bg-color: #f8f7f5;
// $text-color: #262522;
// $text-color--2: #4d4b45;
// $color: #151413;
// $second-btnColor: #9b988f;
// $bg-btnColor: #e8e6e0;
// $bg-img: #eeece6;
// $border-img: #e2e0d8;

$bg-color: #f8f7f5;
$text-color: #262522;
$text-color--2: #4d4b45;
$bg-card: #ffffff;
$hover-color: #a38b6d;
$hover-dark: #856e52;
$hover-light: #fff;
$color: #151413;
$bg-img: #eeece6;
$border-img: #e2e0d8;
$border-color: #e5e5e0;
$second-btnColor: #9b988f;
$bg-btnColor: #e8e6e0;
$color-bgafter: #ffffffe6;
$color-bgbefore: #151413cc;
$color-darksection: #eeece680;
