@use "_mixins" as *;
@use "_typo" as *;
@use "_icons";
@use "_colors" as *;

.title {
  margin: 0 auto;
  text-align: center;
  color: $color;
  @include typo("h2");
}
.subtitle {
  color: $hover-color;
  text-transform: uppercase;
  @include typo("sub");
}
