@use "_mixins" as *;
@use "_typo" as *;
@use "_icons";
@use "_colors" as *;

.footer {
  // .footer__container
  background-color: $color;
  color: $bg-color;
  @include adaptiveValue("padding-block", 50, 20);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__logo

  &__logo {
    display: flex;
    flex-direction: column;
    gap: toRem(6);
    @include typo("small");
  }

  // .footer__info

  &__info {
    @include typo("small");
  }
}
.logo-footer {
  // .logo-footer__link

  &__link {
  }
}
