@use "_mixins" as *;
@use "_typo" as *;
@use "_icons";
@use "_colors" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $border-color;
  }
  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("gap", 30, 13);
    min-height: toRem(80);
    height: 100%;
  }

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {
  }

  // .header__action

  &__action {
  }
}
.logo {
  // .logo__link
  z-index: 2;

  &__link {
    @include typo("h6");
  }
}

.nav-header {
  &__list {
    @media (width<=toEm(740)) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      padding: toRem(100) toRem(30) toRem(30) toRem(15);
      background-color: $bg-card;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(40);
      overflow: auto;
      transition: left 0.3s;

      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: toRem(80);
        background-color: $bg-color;
        top: 0;
        left: 100%;
        transition: left 0.3s;
        // left: 100%;
      }
      [data-menu-open] & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
    @media (width >=toEm(740)) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("column-gap", 40, 10);
      row-gap: toRem(5);
    }
  }
}
.list-nav {
  // .list-nav__item
  &__item {
  }
  &__link {
    text-transform: uppercase;
    position: relative;
    @include typo("h6");
    font-weight: 500;
    cursor: pointer;
    transition: color 0.5s ease;
    &::after {
      content: "";
      position: absolute;
      bottom: toRem(-5);
      left: 50%;
      translate: -50%;
      width: 0;
      height: toRem(2);
      background-color: $hover-color;
      transition: all 0.5s ease;
    }

    html:not([data-fls-touch]) & {
      &:hover {
        color: $hover-dark;
        &::after {
          width: 100%;
        }
      }
    }
    @media (width<=toEm(740)) {
      font-size: toRem(25);
    }
  }
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  @include adaptiveValue("gap", 20, 10);
  @media (width<=toEm(450)) {
    @include adaptiveValue("gap", 20, 15);
  }
  &__link {
    z-index: 2;
    @include typo("h6");
    padding: toRem(12) toRem(21);
    border: toRem(1) solid $color;
    border-radius: toRem(9999);
    text-transform: uppercase;
    transition: all 0.4s;
    @media (width<=toEm(450)) {
      display: none;
      // padding: toRem(12) toRem(15);
    }
    html:not([data-fls-touch]) & {
      &:hover {
        &:hover {
          background-color: $color;
          color: $hover-light;
        }
      }
    }
  }

  // .header-btn__mobile

  &__mobile {
    display: none;
    @media (width<=toEm(740)) {
      display: block;
      width: toRem(30);
      height: toRem(18);
      position: relative;
      &::after,
      &::before,
      span {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: toRem(2);
        background-color: $color;
      }
      &::before {
        top: 0;
      }
      span {
        top: 50%;
        translate: 0 -50%;
      }
      &::after {
        bottom: 0;
      }
    }
  }
}
