@use "_mixins" as *;
@use "_typo" as *;
@use "_icons";
@use "_colors" as *;
@use "_components.scss" as *;

main {
  // padding-top: toRem(80);
  padding-top: toRem(80);
  @media (width<=toEm(992)) {
    padding-top: 0;
  }
}

// --------HERO-----------
.pages {
  // .pages__hero
}
.hero {
  // .hero__container

  &__container {
    @include adaptiveValue("padding-top", 80, 30);
    @include adaptiveValue("padding-bottom", 129, 30);
    display: flex;
    @include adaptiveValue("gap", 32, 15);
    @media (width<=toEm(991)) {
      flex-direction: column;
    }
  }

  // .hero__body

  &__body {
    @media (width<=toEm(992)) {
      text-align: center;
      max-width: none;
      margin: 0 auto;
    }
    @media (width>=toEm(992)) {
      max-width: toRem(696);
    }
  }

  // .hero__picture

  &__media {
  }
}
.body-hero {
  // .body-hero__title
  @include adaptiveValue("padding-top", 65, 30);

  &__title {
    @include typo("h1");
    font-weight: 400;
    span {
      font-style: italic;
      font-weight: 300;
      color: $text-color--2;
    }
    &:not(:last-child) {
      margin-bottom: toRem(27);
    }
  }

  // .body-hero__text

  &__text {
    @media (width>=toEm(992)) {
      max-width: toRem(620);
    }
    p {
      @include typo("h5");
      color: $text-color--2;
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(36);
    }
  }

  // .body-hero__actions

  &__actions {
  }

  // .body-hero__info

  &__info {
  }
}
.actions-hero {
  // .actions-hero__link
  display: flex;
  @media (width<=toEm(500)) {
    flex-direction: column;
  }
  @media (width<=toEm(992)) {
    justify-content: center;
  }
  gap: toRem(16);
  &:not(:last-child) {
    margin-bottom: toRem(32);
  }

  &__link {
    @include typo("btn-txt");
    font-weight: 600;
    text-align: center;
    padding: toRem(17) toRem(32);
    border: toRem(1) solid $second-btnColor;
    border-radius: toRem(9999);
    transition: background-color 0.3s;
    text-transform: uppercase;
    html:not([data-fls-touch]) & {
      &:hover {
        background-color: $bg-btnColor;
        &::before {
          // padding-left: toRem(10);
          translate: toRem(8) toRem(2);
        }
      }
    }
    @media (width<=toEm(992)) {
      // min-width: toEm(200);
      // width: 100%;
      text-align: center;
    }
    &--icon-shevron {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      &::before {
        rotate: 90deg;
        // padding-left: toRem(10);
        translate: toRem(8) toRem(1);
      }
    }
  }

  // .actions-hero__link--active

  &__link--active {
    background-color: $color;
    color: $bg-color;
    html:not([data-fls-touch]) & {
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
.hero-info {
  // .hero-info__item
  padding-top: toRem(33);
  border-top: toRem(1) solid $border-color;
  display: flex;
  justify-content: space-between;
  @media (width<=toEm(992)) {
    justify-content: space-around;
  }
  @include adaptiveValue("gap", 30, 15);

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: toRem(4);
  }

  // .hero-info__value

  &__value {
    @include typo("accent");
  }

  // .hero-info__label

  &__label {
    text-transform: uppercase;
    @include typo("small");
    color: $text-color--2;
  }
}

.media-hero {
  // .media-hero__wraper
  margin: 0 auto;
  flex-shrink: 0;

  @media (width<=toEm(992)) {
    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
  }

  &__wraper {
    position: relative;
    @media (width>=toEm(992)) {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $bg-img;
        border-radius: 16px;
        transform: rotate(-2deg) scale(1.02);
        translate: toRem(20) toRem(-15);
        border: toRem(1) solid $border-img;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
        z-index: 1;
      }
    }
    // position: relative;
  }

  // .media-hero__picture

  &__picture {
    padding: toRem(21) toRem(25) toRem(25) toRem(25);
    background-color: $bg-card;
    max-width: toRem(500);
    margin: 0 auto;
    // rotate: 1deg;
    transition: all 0.3s;
    border-radius: 16px;
    @media (width>=toEm(992)) {
      position: relative;
      z-index: 2;
      rotate: 1deg;
    }
    html:not([data-fls-touch]) & {
      &:hover {
        rotate: -1deg;
        transform: scale(1.04);
      }
    }

    // transform-origin: top left;
  }

  // .media-hero__img

  &__img {
    position: relative;
    max-width: toRem(438);
    width: 100%;
    aspect-ratio: 438/584;
    object-fit: cover;
    border-radius: toRem(8);

    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  // .media-hero__info

  &__info {
  }
}
.info-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color--2;
  max-width: toRem(438);
  flex-wrap: wrap;
  @media (width<=toEm(992)) {
    // background-color: red;
    text-align: center;
    margin: toRem(10) auto;
  }
  &__paper {
    font-style: italic;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: toRem(16);
  }
  &__pencils {
    @include typo("small");
  }
}

// -----------COMPARISON-------------
.comparison {
  background-color: $color-darksection;
  // .comparison__container

  &__container {
    text-align: center;
  }

  // .comparison__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: toRem(6);
    }
  }

  // .comparison__title

  &__title {
    max-width: toRem(581);
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
  }

  // .comparison__text

  &__text {
    p {
      text-align: center;
      @include typo("h5");
      color: $text-color--2;
      max-width: toRem(820);
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
  }

  &__slider-wrapper {
    max-width: toRem(768);
    margin: 0 auto;
    border-radius: toRem(16);
    background-color: #fff;
    padding: toRem(4);
    border: toRem(1) solid $border-color;
  }

  // .comparison__slider

  &__slider {
    position: relative;
    border-radius: toRem(16);

    img {
      aspect-ratio: 760/475;
      object-fit: cover;
    }
  }
}
.icv__label {
  @include typo("small");
  padding: toRem(6) toRem(12);
  border-radius: toRem(9999);
}
.icv__label-after {
  background-color: $color-bgbefore;
  color: $bg-color;
}
.icv__label-before {
  background-color: $color-bgafter;
  color: $color;
}
