@use "_mixins" as *;
@use "_typo" as *;
@use "_icons";
@use "_colors" as *;
@use "_components.scss" as *;

html,
body {
  overflow-y: auto !important;
  overscroll-behavior-y: contain;
}

main {
  // padding-top: toRem(0);
  // margin-top: toRem(80);

  @media (toEm(300)<=width<=toRem(600)) {
    @include adaptiveValue("margin-top", 50, 40);
  }
  @media (toEm(600)<=width<=toRem(992)) {
    @include adaptiveValue("margin-top", 40, 0);
  }
  @media (width>toEm(992)) {
    @include adaptiveValue("margin-top", 80, 40);
  }
}

// --------HERO-----------
.pages {
  &__hero {
  }
  &__avtor {
  }
  &__advantages {
  }

  &__stages {
  }
}
.hero {
  // .hero__container

  &__container {
    @include adaptiveValue("padding-top", 80, 30);
    @include adaptiveValue("padding-bottom", 129, 30);
    display: flex;
    @include adaptiveValue("gap", 32, 15);

    @media (width<=toEm(991)) {
      flex-direction: column;
    }
  }

  // .hero__body

  &__body {
    @media (width<=toEm(992)) {
      text-align: center;
      max-width: none;
      margin: 0 auto;
    }
    @media (width>=toEm(992)) {
      max-width: toRem(696);
    }
  }

  // .hero__picture

  &__media {
  }
}
.body-hero {
  // .body-hero__title
  @include adaptiveValue("padding-top", 65, 30);

  &__title {
    @include typo("h1");
    font-weight: 400;
    span {
      font-style: italic;
      font-weight: 300;
      color: $text-color--2;
    }
    &:not(:last-child) {
      margin-bottom: toRem(27);
    }
  }

  // .body-hero__text

  &__text {
    @media (width>=toEm(992)) {
      max-width: toRem(620);
    }
    p {
      @include typo("h5");
      color: $text-color--2;
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(36);
    }
  }

  // .body-hero__actions

  &__actions {
  }

  // .body-hero__info

  &__info {
  }
}
.actions-hero {
  // .actions-hero__link
  display: flex;
  @media (width<=toEm(500)) {
    flex-direction: column;
  }
  @media (width<=toEm(992)) {
    justify-content: center;
  }
  gap: toRem(16);
  &:not(:last-child) {
    margin-bottom: toRem(32);
  }

  &__link {
    @include typo("btn-txt");
    font-weight: 600;
    text-align: center;
    padding: toRem(17) toRem(32);
    border: toRem(1) solid $second-btnColor;
    border-radius: toRem(9999);
    transition: background-color 0.3s;
    text-transform: uppercase;
    html:not([data-fls-touch]) & {
      &:hover {
        background-color: $bg-btnColor;
        &::before {
          // padding-left: toRem(10);
          translate: toRem(8) toRem(2);
        }
      }
    }
    @media (width<=toEm(992)) {
      // min-width: toEm(200);
      // width: 100%;
      text-align: center;
    }
    &--icon-shevron {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      &::before {
        rotate: 90deg;
        // padding-left: toRem(10);
        translate: toRem(8) toRem(1);
      }
    }
  }

  // .actions-hero__link--active

  &__link--active {
    background-color: $color;
    color: $bg-color;
    html:not([data-fls-touch]) & {
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
.hero-info {
  // .hero-info__item
  padding-top: toRem(33);
  border-top: toRem(1) solid $border-color;
  display: flex;
  justify-content: space-between;
  @media (width<=toEm(992)) {
    justify-content: space-around;
  }
  @include adaptiveValue("gap", 30, 15);

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: toRem(4);
  }

  // .hero-info__value

  &__value {
    @include typo("accent");
  }

  // .hero-info__label

  &__label {
    text-transform: uppercase;
    @include typo("small");
    color: $text-color--2;
  }
}

.media-hero {
  // .media-hero__wraper
  margin: 0 auto;
  flex-shrink: 0;

  @media (width<toEm(992)) {
    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
  }

  &__wraper {
    position: relative;
    @media (width>toEm(992)) {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $bg-img;
        border-radius: toRem(16);
        transform: rotate(-2deg) scale(1.02);
        translate: toRem(20) toRem(-15);
        border: toRem(1) solid $border-img;
        box-shadow: 0 toRem(10) toRem(25) rgba(0, 0, 0, 0.06);
        z-index: 1;
      }
    }
    // position: relative;
  }

  // .media-hero__picture

  &__picture {
    padding: toRem(21) toRem(25) toRem(25) toRem(25);
    background-color: $bg-card;
    max-width: toRem(500);
    margin: 0 auto;
    transition: all 0.3s;
    border-radius: toRem(16);
    @media (width>toEm(992)) {
      position: relative;
      z-index: 2;
      rotate: 1deg;
    }
    html:not([data-fls-touch]) & {
      &:hover {
        rotate: -1deg;
        transform: scale(1.04);
      }
    }

    // transform-origin: top left;
  }

  // .media-hero__img

  &__img {
    position: relative;
    max-width: toRem(438);
    width: 100%;
    aspect-ratio: 438/584;
    object-fit: cover;
    border-radius: toRem(8);

    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  // .media-hero__info

  &__info {
  }
}
.info-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color--2;
  max-width: toRem(438);
  flex-wrap: wrap;
  @media (width<=toEm(992)) {
    // background-color: red;
    text-align: center;
    margin: toRem(10) auto;
  }
  &__paper {
    font-style: italic;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    font-size: toRem(16);
  }
  &__pencils {
    @include typo("small");
  }
}

// -----------COMPARISON-------------
.comparison {
  background-color: $color-darksection;
  // .comparison__container

  &__container {
    text-align: center;
  }

  // .comparison__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: toRem(6);
    }
  }

  // .comparison__title

  &__title {
    max-width: toRem(581);
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
  }

  // .comparison__text

  &__text {
    p {
      text-align: center;
      @include typo("h5");
      color: $text-color--2;
      max-width: toRem(820);
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
  }

  &__slider-wrapper {
    max-width: toRem(768);
    margin: 0 auto;
    border-radius: toRem(16);
    background-color: #fff;
    padding: toRem(4);
    border: toRem(1) solid $border-color;
  }

  // .comparison__slider

  &__slider {
    position: relative;
    border-radius: toRem(16);

    img {
      aspect-ratio: 760/475;
      object-fit: cover;
    }
  }
}

.icv__label {
  @include typo("small");
  padding: toRem(6) toRem(12);
  border-radius: toRem(9999);
  @media (width<=toEm(560)) {
    display: none;
  }
}
.icv__label-after {
  background-color: $color-bgbefore;
  color: $bg-color;
}
.icv__label-before {
  background-color: $color-bgafter;
  color: $color;
}
#image-compare,
#image-compare * {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.image-compare__image,
.image-compare__handle {
  transform: translateZ(0);
  will-change: transform, clip-path, width;
}
.image-compare {
  touch-action: pan-y;
}
// ---------------------------------

.pages {
  // .pages__gallery

  &__gallery {
  }
}
.gallery {
  // .gallery__container

  &__container {
    text-align: center;
  }

  // .gallery__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  // .gallery__title

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(48);
    }
  }

  // .gallery__slider

  &__slider {
  }
}
.swiper-gallery {
  width: 100%;
  max-width: toRem(900);
  aspect-ratio: 900 / 700;
  margin: 0 auto toRem(10);

  &__slide {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.swiper-nav {
  // width: 100%;
  max-width: toRem(900);
  margin: 0 auto;

  &__wrapper {
  }
  &__slide {
    aspect-ratio: 1;
    max-width: toRem(200);
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // Активна мініатюра
  .swiper-slide-thumb-active {
    outline: 4px solid $color;
    padding: 7px;
    outline-offset: -4px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: $color;
}

// --------------------------
.avtor {
  // .avtor__container
  @include adaptiveValue("padding-top", 31, 15);
  @include adaptiveValue("padding-bottom", 81, 25);

  &__container {
    display: flex;
    @include adaptiveValue("gap", 48, 10);
    text-align: left;
    @media (width<=toEm(991)) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // .avtor__picture

  &__picture {
    // flex: 0 0 toRem(478);
    max-width: toRem(478);
    width: 100%;

    @media (width<=toEm(991)) {
      max-width: toRem(900);
      width: 100%;
    }

    // aspect-ratio: 478/598;
  }

  // .avtor__info

  &__info {
    @include adaptiveValue("padding-top", 44, 0);

    flex: 1 1 auto;
    width: 100%;
  }
}

.picture-avtor {
  position: relative;

  &__img {
    position: relative;
    max-width: toRem(478);
    width: 100%;
    aspect-ratio: 478/598;

    @media (width<=toEm(991)) {
      max-width: toRem(900);
      width: 100%;
      aspect-ratio: 900/598;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(16);
    @media (width<=toEm(991)) {
      height: 100%;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 900/598;
      &:not(:last-child) {
        margin-bottom: toRem(20);
        margin-top: toRem(20);
      }
    }
  }
  &__decoration {
    @media (width<=toEm(768)) {
      display: none;
    }
    position: absolute;
    bottom: toRem(-20);
    right: toRem(-20);
    z-index: 21;
    background-color: $bg-card;
    border: 1px solid $border-img;
    padding: toRem(25) toRem(20) toRem(25) toRem(25);
    border-radius: toRem(16);
    p {
      color: $color;
      @include typo("h3");
      font-style: italic;
      &:not(:last-child) {
        margin-bottom: toRem(4);
      }
    }
    cite {
      color: $text-color--2;
      text-transform: uppercase;
      font-style: normal;
      @include typo("small");
    }
  }
}
.info-avtor {
  // .info-avtor__subtitle
  > :not(:last-child) {
    @include adaptiveValue("margin-bottom", 27, 10, 0, 1200, 900);
  }
  &__subtitle {
  }

  // .info-avtor__title

  &__title {
    text-align: left;
  }

  // .info-avtor__text

  &__text {
    :not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 10);
    }
    color: $text-color;
    :first-child {
      @include typo("h5");
      span {
        font-weight: 600;
        border-bottom: toRem(1) solid $text-color;
        padding-bottom: toRem(1);
      }
    }
    p {
      @include typo("h6");
      font-weight: 400;
      line-height: 1.625;
    }
  }

  // .info-avtor__features

  &__features {
  }
}

.features-avtor {
  // .features-avtor__item
  display: flex;
  @include adaptiveValue("gap", 16, 8);
  @media (width<=toEm(768)) {
    flex-direction: column;
  }

  &__item {
    // max-width: toRem(320);
    // width: 100%;
    border-radius: toRem(12);
    background-color: $bg-card;
    border: toRem(1) solid $border-img;
    @include adaptiveValue("padding-inline", 17, 10);
    @include adaptiveValue("padding-top", 22, 10);
    @include adaptiveValue("padding-bottom", 18, 5);
  }

  // .features-avtor__title
  img {
    &:not(:last-child) {
      margin-bottom: toRem(13);
      @include adaptiveValue("margin-bottom", 13, 8);
    }
    width: toRem(18);
    aspect-ratio: 1;
  }
  &__title {
    @include typo("h5");
    color: $color;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(4);
    }
  }

  // .features-avtor__text

  &__text {
    p {
      @include typo("h6");
      font-weight: 400;
    }
  }
}

// ----------------------------
.advantages {
  // .advantages__container
  background-color: $color-darksection;

  &__container {
    text-align: center;
  }

  // .advantages__subtitle

  &__subtitle {
    :not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  // .advantages__title

  &__title {
    &:not(:last-child) {
      // margin-bottom: toRem(64);
      @include adaptiveValue("margin-bottom", 64, 30);
    }
  }

  // .advantages__list

  &__list {
  }
}

.advantages-items {
  // .advantages-items__item
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(toRem(300), toRem(384)), 1fr)
  );
  @include adaptiveValue("column-gap", 32, 10);
  row-gap: toRem(20);

  &__item {
    background-color: $bg-card;
    border-radius: toRem(16);
    border: toRem(1) solid $border-img;
    // padding: toRem(33);
    @include adaptiveValue("padding", 33, 20);
    text-align: left;
  }

  // .advantages-items__img

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 15);
    }
    width: toRem(48);
    height: toRem(48);
    border-radius: 50%;
    background-color: $bg-color;
    border: toRem(1) solid $color-border-2;
    img {
      width: toRem(18);
      aspect-ratio: 1;
    }
  }

  // .advantages-items__title

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(14);
    }
    @include typo("h3");
    // font-weight: 400;
    color: $color;
  }

  // .advantages-items__text

  &__text {
    @include typo("p");
    color: $text-color--2;
  }
}
// --------------------------

.stages {
  // .stages__container

  &__container {
    text-align: center;
  }

  // .stages__subtitle

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  // .stages__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 30);
    }
  }

  // .stages__items

  &__items {
  }
}

.items-stages {
  display: grid;
  @include adaptiveValue("gap", 24, 7);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(toRem(170), toRem(224)), 1fr)
  );
  text-align: left;

  &__item {
    padding: toRem(25);
    border-radius: toRem(16);
    background-color: $bg-card;
    border: toRem(1) solid $border-img;
    :not(:last-child) {
      margin-bottom: toRem(7);
    }
  }

  // .items-stages__num

  &__num {
    font-size: toRem(36);
    font-weight: 300;
    line-height: 1.111;
    font-family: "Cormorant Garamond", serif;
    color: $hover-color;
  }

  // .items-stages__title

  &__title {
    @include typo("h4");
    color: $color;
  }

  // .items-stages__text

  &__text {
    @include typo("p");
    color: $text-color--2;
  }
}
